
{% extends './layout.html' %}


{% block content %}

    <!--Delete Category-->
    <form method='POST' action='/categories/{{category}}?_method=DELETE'>
      <button type='submit' class='btn btn-danger' style='margin-top:10px'>Delete Category</button>
    </form>
    
    <!--Add new product -->
    <div class='well' style='margin-top:10px'>
        <form class='form-group' method='POST' action='/categories/{{category}}/products'>
            <label><strong>Product Name</strong></label>
            <input class='form-control' name='name' ></input>
            <button class='btn btn-primary' type='submit' style='margin-top: 10px'>Submit</input>
        </form>
    </div>
    
    <!--Products-->
    <ul class='list-group'>
        {% for idx, product in products %}
        <li class='list-group-item'>
            {{ product.name }}
            <form method='POST' action='/categories/{{category}}/products/{{idx}}/?_method=DELETE'>
                <button type='submit' class='btn btn-danger'>Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>

{% endblock %}


<!--Variables to define in routes: -->
<!--_data-->
<!--categoryName-->
<!--products-->
<!--index -->
